#footer.text-muted
  .hidden-xs.hidden-sm
    include menu

  p.container
    a(href="#") -
    = " c любовью разработал"
    span.hidden-xs
      =", "
    br.visible-xs
    a(href="#") -
    = " бережно доработал и курирует авторов"
